<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
<title>E-GRH</title>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css"  href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" media="all" href="../static/css/jquery-ui.css" th:href="@{/css/jquery-ui.css}" />

<script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.js}" src="../static/js/jquery-ui.js"></script>
<script type="text/javascript" th:src="@{/js/formatDate.js}" src="../static/js/formatDate.js"></script>

</head>

<body>
</body>

</html>