<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
<meta charset="utf-8"/>
<title>Formateurs</title>
</head>

<body>

<div layout:fragment="content">
 <div class="row">
	
		<div class="row">
			<h1 style="padding-left: 30px;">Formateurs</h1>
			<div class="col-md-6" style="padding-left: 30px;">
				<div class="panel panel-default">
					<div class="panel-heading">Formulaire Formateurs</div>
					<div class="panel-body">
						<form class="form-group" action="#" th:object="${fteur}" th:action="@{/formateur/savefteur}" method="post">
							<div class="row">
								<div class="form-group col-md-3">
									<input th:type="hidden" name="id" th:field="*{id}" />
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-12">
									<input type="text" class="form-control" id="nom" th:field="*{nom}" placeholder="Nom" />
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-12">
									<input type="text" class="form-control" id="prenom" th:field="*{prenom}" placeholder="Prénoms" />
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-12">
									<input type="text" class="form-control" id="datenaissf" th:field="*{datenaiss}" placeholder="Date de naissance" />
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-12">
									<input type="text" class="form-control" id="contact" th:field="*{contact}" placeholder="Contact" />
								</div>
							</div>
                           
							<div class="row">
                                <div class="form-group col-md-12">
								<select th:field="*{entreprise}" class="form-control">
								<option  th:value="0">====Entreprise====</option>
                                <option th:each="c : ${listent}" th:value="${c.id}" th:text="${c.raisonsociale+' '+c.contact}"></option>
                               </select>
															
								</div>
							</div>
							
							<div class="row">
                                <div class="form-group col-md-12">
								<select th:field="*{specialite}" class="form-control">
								<option  th:value="0">====Spécialité====</option>
                                <option th:each="c : ${listesp}" th:value="${c.id}" th:text="${c.lib}"></option>
                               </select>
															
								</div>
							</div>
							
                              
								<div class="row">
									<div class="form-group">
										<div class="col-md-6">
											<button type="submit" th:if="*{id} == 0" class="btn btn-primary">Ajouter</button>
											<button type="submit" th:if="*{id} > 0" class="btn btn-primary">Modifier</button>
											<a href="#" th:href="@{/}" class="btn btn-danger" role="button">Annuler</a>
										</div>

									</div>
								</div>
						</form>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">La liste de Formateurs</div>
					<div class="panel-body">
						<h1>Liste Formateurs</h1>
						<div class="card">
							<div class="card-block">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>ID</th>
											<th>Nom</th>
											<th>Prénoms</th>
											<th>Date de naissance</th>
											<th>Contact</th>
											<th>Entreprise</th>
											<th>Spécialité</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="p:${listefteurs.content}">
											<td th:text="${p.id}"></td>
											<td th:text="${p.nom}"></td>
											<td th:text="${p.prenom}"></td>
											<td th:text="${#dates.format(p.datenaiss, 'dd/MM/yyyy')}"></td>
											<td th:text="${p.contact}"></td>
											<td th:text="${p.entreprise.raisonsociale}"></td>
											<td th:text="${p.specialite.lib}"></td>
											<td><a th:href="@{/formateur/modifierfteurR(id=${p.id})}" class="btn btn-primary btn-sm" ><span class="glyphicon glyphicon-edit"></span>Modifier</a>
												<a onclick="return confirm('Etes vous sure ?')"
												th:href="@{/formateur/supprimerfteur(id=${p.id})}" class="btn btn-danger btn-sm" ><span class="glyphicon glyphicon-trash"></span>Supprimer</a></td>
										</tr>
									</tbody>

								</table>
								<hr />

								<ul class="nav nav-pills">
									<li class="nav-item" th:each="i:${pages}"
										th:class="${i==pageEnCours}?active:''"><a
										th:href="@{/formateur/rajouterfteur(page=${i})}" th:text="${i+1}"
										class="nav-link"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

  </div>
</div>
</body>
</html>
